<!DOCTYPE html>
<html>
  <head>
    <base href="/">

    <link rel='stylesheet' href='/public/stylesheets/main.css' />

  </head>
  <body>
    
    


    
    

    
    
    
    
    
    <my-app>
      <div class="container">
    <div class="container">
    <h2>Welcome to My Dog's Mixtape!</h2>
    <img src="http://i.imgur.com/RJHgnht.png">

    </div>
      
      
      </my-app>
    <script src="/js/app/bundle.js"></script>
  </body>
</html>
