<!DOCTYPE html>
<html>
  <head>
    <base href="/">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css">
    

    
  </head>
  <body>
    
    

   
<div id="main-padder" style="padding: 50px;">
<div class="container">
 
     <my-app>
       <div class="ui center aligned one column grid">
  <div class="column">
  <h2>Loading</h2>
    <img src="/images/animated.gif" class="ui centered image">
  </div>
</div>
     
 
      </my-app>
      
    <script src="/js/app/bundle.js"></script>
 
 
 
</div>


</div>
</div>
    

    
    
    
   

    

  </body>
</html>
