<% include ./partials/header %>



<div class="container">
    <div class="container">
    <h2>Welcome to My Dog's Mixtape!</h2>
    <img src="http://i.imgur.com/RJHgnht.png">
    <p>
       <a class="btn btn-primary btn-large" href="/Mixes">View all Mixes</a></button>
    </p>
    </div>



<% include ./partials/footer %>