<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css">


<div class="ui grid">



  <div class="two wide column" id="scroll" >
    <div class="ui secondary vertical menu">
     <div class="ui search">
   <input class="prompt" type="text" [(ngModel)]="queryString" id="search" placeholder="Search breed" autocomplete="off">

</div>
<a class="item" (click)="onClickMe('all')">All mixes</a>
<p *ngFor="let breed of breeds| FilterPipe: queryString">
  <a class="item" (click)="onClickMe(breed)">{{breed}}</a>
</p>


</div>
  </div>
  <div class="fourteen wide column" >
    <div class="ui four column grid">
   
      
  <ng-template ngFor let-mix [ngForOf]="mixes" >
       <ng-template [ngIf]="mix.breed1 == activeBreed || mix.breed2 == activeBreed || mix.checkAll == activeBreed">
          <a [routerLink]="['/mixes', mix.id]">
        <div class="column">
          <div class="ui fluid link card">
    
            <img src="{{mix.image}}" class="ui medium image">

            <div class="content">
              <a class="header" href="/Mixes/"> {{mix.Name}} </a>
              
              <div class="meta">
                {{mix.breed1}} | {{mix.breed2}}
              </div>
              
            </div>
            
            
          </div>
          
        </div>
           </a>
    
        </ng-template>
  </ng-template>
  </div>
</div>
   
</div>

