<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css">


<div class="ui grid">



  <div class="two wide column">
    <div class="ui secondary vertical menu" style="position: sticky;
    top: 20px;">
     <div class="ui search">
   <input class="prompt" type="text" [(ngModel)]="queryString" id="search" placeholder="Search breed" autocomplete="off">

</div>
<br>
<button class="ui primary button center align" (click)="onClickMe('all')">All mixes</button>
<br>
<hr>
<div  style="overflow: scroll; position: absolute;
     height: 600px;">
<p *ngFor="let breed of breeds| FilterPipe: queryString">
  <a class="item" (click)="onClickMe(breed)" ng-class="activeBreed == breed ? 'active' : 'item'">{{breed}}</a>
</p>
</div>

</div>
  </div>
  <div class="fourteen wide column" >
    <div id="main-padder" style="padding: 50px;">
    <div class="ui four column grid">
      
   
      
  <ng-template ngFor let-mix [ngForOf]="mixes"  >
       <ng-template [ngIf]="mix.breed1 == activeBreed || mix.breed2 == activeBreed || mix.checkAll == activeBreed">
          <a [routerLink]="['/mixes', mix.id]">
        <div class="column">
          <div class="ui fluid link card">
    
            <img src="{{mix.image}}" class="ui medium image">

            <div class="content">
              <a class="header" href="/Mixes/"> {{mix.Name}} </a>
              
              <div class="meta">
                {{mix.breed1}} | {{mix.breed2}}
              </div>
              
            </div>
            
            
          </div>
          
        </div>
           </a>
    
        </ng-template>
  </ng-template>
  </div>
</div>
   
</div>
</div>
