<div class="flex-container" style="display: flex;">


  <div class="fixed column">

    <div style="position: sticky; top: 20px;">

      <div class="ui vertical menu" id="sidemenu">
        <div class="item">
          <div class="ui input"><input class="prompt smaller-font" type="text" [(ngModel)]="queryString" id="search" placeholder="Search breed" autocomplete="off"></div>
        </div>
        <a class="item" (click)="onClickMe('')">
    All mixes
  </a>
        <div class="item">
          Breeds
        </div>
        <div style="height: 700px;">
          <div class="menu" style="height: 100%;
overflow: scroll;">

            <ng-template ngFor let-breed [ngForOf]="breeds">
              <a class="item" (click)="onClickMe(breed.name)" ng-class="queryString == breed.name ? 'active' : 'item'"><img class="ui avatar image hide-if" src="{{breed.image}}"> {{breed.name}}</a>
            </ng-template>

          </div>


        </div>
      </div>

    </div>
  </div>

  <div _ class="flex column" style="flex: 1; min-width: 0px; padding-left: 5px">

    <div class="ui doubling fluid link cards">

      <div *ngFor="let mix of mixes | FilterPipe: queryString" class="card">

        <a class="image" [routerLink]="['/mixes', mix.id]">

          <img src="{{mix.image}}">
        </a>
        <div class="content"> 
        <a class="right floated noCursor labelColor">{{mix.downvote}} <i class="arrow down icon"></i></a> 
        <a class="right floated noCursor labelColor">{{mix.upvote}} <i class="arrow up icon"></i></a>
          <a class="header" [routerLink]="['/mixes', mix.id]"> {{mix.Name}}</a>

          <div class="meta">
            {{mix.breed1}} | {{mix.breed2}}
          </div>

        </div>


      </div>

    </div>



  </div>


</div>