<% include ../partials/header %>
<div class="container">
<header class="jumbotron">
    <div class="container">
    <h1>Trendiest dog mixes</h1>
    <p>
       <a class="btn btn-primary btn-large" href="/Mixes/new">Add new Mix!</a></button>
    </p>
    </div>
</header>


<div class="row text-center" style="display:flex; flex-wrap; wrap;">
    
    <% Mixes.forEach(function(campsite){ %>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img src="<%=campsite.image%>">
                <div class="caption">
                     <%= campsite.name %> </h4>
                </div>
                <p>
                    <a class="btn btn-primary" href="/Mixes/<%=campsite._id%>">More info</a>
                </p>
            </div>
        </div>
    <% }); %>

</div>


</div>

<% include ../partials/footer %>