<% include ../partials/header %>

<div class="container">
<header class="jumbotron">
    <div class="container">
    <h1>Breeds</h1>
    <p>
       <a class="btn btn-primary btn-large" href="/Mixes/new">Add new mix!</a></button>
    </p>
    </div>
</header>


<div class="ui four column grid">
    
    <% uncleanlist.forEach(function(campsite){ %>
    <div class="column">
        <div class="ui fluid link card">
            <div class="image">
                <img src="<%=campsite.image%>">
            </div>
            <div class="content">
                <a class="header" href="/breeds/<%=campsite.name%>"><%=campsite.name%> </a>

</div>
            </span>
            
            
            </div>
            
            </div>
    
    <% }); %>
    
        


                     
        </div>
    </div>
            





</div>

<% include ../partials/footer %>