<% include ../partials/header %>

<div class="container">
<header class="jumbotron">
    <div class="container">
    <h1>Breeds</h1>
    <p>
       <a class="btn btn-primary btn-large" href="/Mixes/new">Add new mix!</a></button>
    </p>
    </div>
</header>



<div class="row text-center" style="display:flex; flex-wrap; wrap;">
    
    <% uncleanlist.forEach(function(breed){ %>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img src="<%=breed.image%>">
                <p>
                    <a class="btn btn-primary" href="/breeds/<%=breed.name%>"><%=breed.name%></a>
                </p>
            </div>
        </div>
    <% }); %>

</div>


</div>

<% include ../partials/footer %>