
<div class="ui stackable grid">

  <div class="row">
    <div class="ui six wide column">

      <h1>Miracles</h1>

      <div class="ui items">
        <ng-template ngFor let-mix [ngForOf]="topMixes">



          <div class="item">

            <a [routerLink]="['/mixes', mix.id]" class="ui small image">
              <img src="{{mix.image}}">
            </a>


            <div class="content">
              <a class="header" [routerLink]="['/mixes', mix.id]">  {{mix.Name}}</a>
              <div class="meta">
                <a class="ui image label">
                  <img src="{{mixesService.serviceBreeds[mix.breed1]}}"> {{mix.breed1}}
                </a>

                <a class="ui image label">
                  <img src="{{mixesService.serviceBreeds[mix.breed2]}}"> {{mix.breed2}}
                </a>
              </div>
              <div class="meta">
                <a class="ui green label">{{mix.upvote}}</a>
                <a class="ui yellow label">{{mix.downvote}}</a>
              </div>
              <div class="description">
                <p></p>
              </div>
            </div>

          </div>


        </ng-template>
      </div>
    </div>

    <div class="ui six wide column">

      <h1>Abominations</h1>

      <div class="ui divided items">
        <ng-template ngFor let-mix [ngForOf]="botMixes">


          <div class="item">

            <a [routerLink]="['/mixes', mix.id]" class="ui small image">
              <img src="{{mix.image}}">
            </a>


            <div class="content">
              <a class="header" [routerLink]="['/mixes', mix.id]">  {{mix.Name}}</a>
              <div class="meta">
                <a class="ui image label">
                  <img src="{{mixesService.serviceBreeds[mix.breed1]}}"> {{mix.breed1}}
                </a>

                <a class="ui image label">
                  <img src="{{mixesService.serviceBreeds[mix.breed2]}}"> {{mix.breed2}}
                </a>
              </div>
              <div class="meta">
                <a class="ui green label">{{mix.upvote}}</a>
                <a class="ui yellow label">{{mix.downvote}}</a>
              </div>
              <div class="description">
                <p></p>
              </div>
            </div>

          </div>


        </ng-template>
      </div>
    </div>

  </div>
</div>
