<div *ngIf="mix" class="ui container">


    <div class="ui two column grid stackable">
        <div class="column">


            <h1 class="ui center aligned icon header" style="font-size: 3em;">{{mix.Name}}</h1>
            <br>
            <hr><br>
            <div class="ui two column centered grid stackable">



                <div class="eight wide center aligned column">

                    <a class="ui huge image label">
                        <img src="{{mixesService.serviceBreeds[mix.breed1]}}"> {{mix.breed1}}
                    </a>



                </div>
                <div class="eight wide center aligned column">


                    <a class="ui huge image label">
                        <img src="{{mixesService.serviceBreeds[mix.breed2]}}"> {{mix.breed2}}
                    </a>

                </div>



            </div>




            <br><br>
            <div class="ui two column centered grid stackable">
                <div class="ui horizontal divider">
                    <h2 class="header">Rate this mix!</h2>
                </div>
                <br>
                <div class=" centered row">
                    <div class="eight wide center aligned column">

                        <div class="ui huge labeled button" (click)="upVote()" tabindex="0">
                            <button class="ui button" [ngClass]="{positive: upsel == 1}">
                     <i class="arrow up icon"></i> Miracle
                     </button>
                            <a class="ui basic label" [ngClass]="{larger: downsel == 1}">
                     {{mix.upvote}}
                     </a>
                        </div>
                        <br>
                        <br>


                    </div>
                    <div class="eight wide center aligned column">

                        <div class="ui huge labeled button" (click)="downVote()" tabindex="0">
                            <button class="ui button" [ngClass]="{positive: downsel == 1}">
                     <i class="arrow down icon"></i> Abomination
                     </button>
                            <a class="ui basic label" [ngClass]="{larger: downsel == 1}">
                     {{mix.downvote}}
                     </a>
                        </div>
                        <br>
                        <br>


                    </div>


                </div>
            </div>
            <div class="ui one column centered grid stackable">
                <div class="eight wide center aligned column">


                    <button class="ui huge basic button" (click)="goBack()">BACK</button>

                </div>
            </div>
        </div>
        <div class="column">
            <img class="ui  large image bordered rounded" src="{{mix.image}}">
            <a href="{{mix.imagesource}}" target="_blank">Source</a>
        </div>
    </div>
</div>
