

<div *ngIf="mix" class="ui container">

  
   <div class="ui two column grid stackable">
   <div class="column">
      
      
       <span>     <button class="ui icon button" (click)="goBack()">
  <i class="left arrow icon"></i>
</button>
       <h1 class="ui header huge">{{mix.Name}}</h1></span>  

      <hr>
      <br>
      <a class="ui huge image label">
  <img src="http://cdn2-www.dogtime.com/assets/uploads/gallery/pug-puppies/pug-puppy-10.jpg">
  {{mix.breed1}}
</a>
 +
      <a class="ui huge image label">
  <img src="{{breeds[mix.breed1]}}">
  {{mix.breed2}}
</a>

<br>
     
      <hr>
    <br><br>
      <div class="ui two column centered grid stackable">
                     <h2 class="header">Rate this mix!</h2>    
         <div class=" centered row">
            <div class="eight wide center aligned column">

                  <div class="ui huge labeled button" (click)="upVote()" tabindex="0" >
                     <button class="ui button" [ngClass]="{positive: upsel == 1}">
                     <i class="bomb icon"></i> Miracle
                     </button>
                     <a class="ui basic label">
                     {{mix.upvote}}
                     </a>
                  </div>
                  <br>
                   <br>
                 <a class="ui green label">(Miracle DOGE)</a>
       
            </div>
            <div class="eight wide center aligned column">
               
                  <div class="ui huge labeled button" (click)="downVote()"  tabindex="0" >
                     <button class="ui button" [ngClass]="{positive: downsel == 1}">
                     <i class="bomb icon"></i> Abomination
                     </button>
                     <a class="ui basic label">
                     {{mix.downvote}}
                     </a>
                  </div>
                  <br>
                  <br>
                  <a class="ui orange label">(Abomination DOGE)</a>
       
            </div>
            
            <div class="eight wide center aligned column">
      
         </div>
      </div>
   </div>
 </div>
   <div class="column">
      <img class = "ui  large image bordered rounded" src="{{mix.image}}">
   </div>
</div>
</div>
   
   
   






