h1 {
    display: inline;
    padding-left: 90px;

}

.larger {
    font-size: 1.2em;
    color: red;
}


@media (max-width: 1200px) {

  
.huge.image.label {
    font-size: 1rem !important;
}

}

@media (max-width: 765px) {

  
.huge.image.label {
      font-size: 1.42857143rem !important;
}

}