

<div *ngIf="mix" class="ui container">
   
   <div class="ui two column grid stackable">
   <div class="column">
      <h1 class="ui header center aligned huge">{{mix.name}}</h1>
      <hr>
      <div class="ui three column centered grid stackable">
         <div class=" centered row">
            <div class="four wide center aligned column">
               <div class="huge ui label center aligned">
                  {{mix.breed1}}
               </div>
            </div>
            <div class="two wide center aligned column">
               <h1 class="header icon">
                  +
               </h1>
            </div>
            <div class="four wide center aligned column">
               <div class="huge ui label center aligned">
                  {{mix.breed2}}
               </div>
            </div>
         </div>
      </div>
      <hr>
     
      <div class="ui items">
         <div class="item">
            <div class="content">
               <a class="header">Known Aliases</a>
               <div class="description">
                 
                  
               </div>
            </div>
         </div>
      </div>
      <div class="ui two column centered grid stackable">
         <div class=" centered row">
            <div class="eight wide center aligned column">
               
                  <div class="ui labeled button" (click)="upVote()" tabindex="0" >
                     <button class="ui button" [ngClass]="{positive: upsel == 1}">
                     <i class="bomb icon"></i> Miracle
                     </button>
                     <a class="ui basic label">
                     {{mix.upvote}}
                     </a>
                  </div>
       
            </div>
            <div class="eight wide center aligned column">
               
                  <div class="ui labeled button" (click)="downVote()"  tabindex="0" >
                     <button class="ui button" [ngClass]="{positive: downsel == 1}">
                     <i class="bomb icon"></i> Abomination
                     </button>
                     <a class="ui basic label">
                     {{mix.downvote}}
                     </a>
                  </div>
       
            </div>
            
            <div class="eight wide center aligned column">
      
         </div>
      </div>
   </div>
 </div>
   <div class="column">
      <img class = "ui image large rounded" src="{{mix.image}}">
   </div>
</div>
  <button class="ui massive button" (click)="goBack()">Back</button>
</div>
   
   
   






