<div class="container">
    <div class="container">
    <h5>A display of adorable mixes like the <a href="http://mydogmixtape.herokuapp.com/mixes/594dcc486618ef32097d8a3f">Corgiever</a> and
    questionable outcomes like the 
    <a href="http://mydogmixtape.herokuapp.com/mixes/594dcc486618ef32097d8a51" >Australian Pug</a>.</h5>
    <h5>Please help us chart these unknown territories and submit your findings!  </h5>

    <img src="http://i.imgur.com/RJHgnht.png">
    <h6>Icons courtesy of <a href="http://www.freepik.com/free-vector/cute-dog-breeds_803197.htm">Freepik</a></h6>
    </div>
</div>