<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css">
<div class="container">
<div class="ui pointing menu">
  <a class="item" routerLink="/about" [routerLinkActive]="['active']">
    About
  </a>
  <a class="item" routerLink="/mixes" [routerLinkActive]="['active']">
    Mixes
  </a>
  <a class="item">
    Breeds
  </a>
  <div class="right menu">
    <div class="item">
      <div class="ui transparent icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

</div>