<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css">
<div id="main-padder" style="padding: 50px;">
<div class="container">
  <h1 class="ui header">My Dog's Mixtape</h1>
<div class="ui pointing menu">
  <a class="item" routerLink="/about" [routerLinkActive]="['active']">
    About
  </a>
  <a class="item" routerLink="/mixes" [routerLinkActive]="['active']">
    Mixes
  </a>
  <a class="item" routerLink="/halloffame" [routerLinkActive]="['active']">
    Hall of Fame
  </a>
    <a class="item">
    Contribute
  </a>
    <a class="item">
    About
  </a>
 
</div>
<br><br>
</div>
<router-outlet></router-outlet>

</div>