<div class="container">
  <h1 class="ui header">My Dog's Mixtape</h1>

  <div class="ui pointing stackable menu">
    <a class="item" routerLink="/about" [routerLinkActive]="['active']">
    About
  </a>
    <a class="item" routerLink="/mixes" [routerLinkActive]="['active']">
    Mixes
  </a>
    <a class="item" routerLink="/halloffame" [routerLinkActive]="['active']">
    Hall of Fame
  </a>
    <a class="item" routerLink="/contribute" [routerLinkActive]="['active']">
    Contribute
  </a>

  </div>
  <br>
</div>
<router-outlet></router-outlet>
